*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    cursor: default;
}

body{
    display: flex;
    justify-content: center;
    /* width: 100vw;
    height: 100vh; */
    width: 100%;
    /* overflow: hidden; */
    background-color: #252525;
    padding: 30px 40px 20px 40px;
    /* border: 2px solid #f00; */
    /* padding: 50px 0 0 0; */
}


#watch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 280px;
    border: 4px solid #b16904;
    color: #b16904;
    border-radius: 50%;
    font-family: monospace;
    font-size: 1.8rem;

}


.container{
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: flex-start; */

    background-color: #333333;
    border-radius: 20px;
    width: 400px;
    height: auto;
}

.inputs{
    padding: 25px;
}

.inputs input{
    width: 60px;
    height: 60px;

    border-radius: 5px;
    padding: 5px 5px 5px 20px;

    font-size: 1.2rem;
    color: #fff;
    font-family: monospace;
    text-align: center;
    background-color: #252525;
    border: 0;
}

.inputs input::placeholder{
    color: #fff;
}

.inputs input:focus{
    outline: none;
}



#set{
    width: 120px;
    height: auto;
    /* outline: none; */
    border: 2px solid #333333;
    border-radius: 6px;
    background-color: #b16904;
    color: #fff;
    font-size: 1.2em;
    font-family: monospace;

    padding: 5px;

    margin-bottom: 15px;
}

#set:active{
    cursor: pointer;
    outline: none;
    background-color: #252525;
}

.alarm{
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: #cccccc;
    font-size: 18px;
    font-family:monospace;

    height: auto;
    width: 300px;

    margin: 15px 0 0 0;
    padding: 0 0 10px 0;
    border-bottom: 3px solid #252525;

}

.deleteButton{
    font-size: 22px;
    background: transparent;
    border: none;
    color: #b16904;
}

.deleteButton .fa-solid{
    cursor: pointer;
}

.alarm input[type="checkbox"]{
    position: relative;
    appearance: none;
    cursor: pointer;
    background-color: #252525;

    height: 30px;
    width: 60px;

    margin-right: -40px;

    border-radius: 15px;

}

.alarm input[type="checkbox"]::before{
    position: absolute;
    content: "";

    background-color: #333333;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    top: 4px;
    left: 4px;
    transition: all .3s ease;
}


.alarm input[type="checkbox"]:checked {
    background-color: #df9733;
}

.alarm input[type="checkbox"]:checked::before{
    background-color: #b16904;
    left: 35px;
}
